body{
	margin: 0;
	padding: 0;
	font-family: arcon;
}


.primercontenedor {
	display: flex; 
	flex-direction: row-reverse;
	justify-content: space-between;
}
header {
	background-color: #edeeee;
}
.fijo {
	position: fixed;
	top: 0px;
	width: 100vw;
	margin-bottom: 100px;
	z-index: 2;
	background-image: url(img/back.jpg);
	background-attachment: fixed;
}
.logo { text-align: center; }
.redes {
	align-self: center;
	margin-left: 10px;
}
.suscribite {
	margin-right: 50px;
	align-self: center;	

}
.suscribite a {
	font-family: arcon;
	font-weight: bold;
	padding: 15px;
	color: black;
	text-decoration: none;
	list-style: none;
	border-radius: 5px;
	transition-duration:1s;
	transition-property: background-color, color;
	transition-delay: 0s, 0s;

}

.suscribite a:hover {
	background-color: darkgrey;
	color: white;
	font-weight: bold;
	text-decoration:none;

}



/* COMO HACER PARA QUE LA BARRA TENGA UN ANCHO TOTAL DEL 100% */
.menu {
	display: flex; 
	
}
.nav {
	margin-top: 15px;
	background-color: #edeeee;
	width: 100%;
	justify-content: center;
}
.nav li {

	padding: 15px 50px;
	list-style: none;

}
.nav li a {
	color: black;
	text-decoration: none;
	padding: 15px 30px;
	border-radius: 5px;
	transition-duration:1s;
	transition-property: background-color;
	transition-delay: 0s;
}
.nav li a:hover{
	/*border-bottom: #66FF33 solid medium;*/
	background-color: grey;
	color: #edeeee;
	font-weight: bold;	
}

.container {
	margin-top: 190px;
}
.cuadros1 {
	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-bottom: 50px;
}

/*.container{

	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 50px;
}
.row{
	background-color: pink;
	height: 300px;}*/

.cuadros {
	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 170px;
	margin-bottom: 50px;
}
.cuadrosself {
	align-content: space-around;
	/*background-color: #edeeee;*/
	width: 500px;
	height: 600px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
   	display: flex;
  	justify-content: center;
  	align-items: center;
   	position: relative;

}
.cuadrosself img {
	transition-duration:1s;
	transition-property: opacity;
	transition-delay: 0s;
}
.cuadrosself a {
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	
}
.cuadrosself a h2 {
	text-align: center;
	text-decoration: none;
	color: black;

}
.cuadrosself h2 {
	display: none;
	position: absolute;
	text-align: center;
	opacity: 0;
	transition-duration:2s;
	transition-property: opacity;
	transition-delay: 2s;

}
.cuadrosself:hover h2, .cuadrosself:hover a { display:block; }
.cuadrosself:hover img {opacity: 0.5;}
.cuadrosself:hover h2 {opacity: 0.8;}


footer {
	background-color: #edeeee;
}
.footer {
	background-color: #edeeee;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}
.redes2 {
	padding-top: 60px;
	background-color: #edeeee;

}

.footer h3{
	font-size: 15px;
	text-align: center;
	background-color: #edeeee;
}
.area {
	background-color: #edeeee;
}

.bloquepers {
	padding-top: 200px;
	display: flex; 
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 50px;
}

.bloquepersonajes {
	position: relative;
}

.bloquepersonajes img {
	transition-duration:1s;
	transition-property: opacity;
	transition-delay: 0s;
}

.bloquepersonajes a h2 {
	text-align: center;
	text-decoration: none;
	color: black;


}
.bloquepersonajes h2 {
	display: none;
	font-size: 50px;
	position: absolute;
	top: 40%;
	left: 100px;
	text-align: center;
	opacity: 0;
	transition-duration:2s;
	transition-property: opacity;
	transition-delay: 2s;


}
.bloquepersonajes:hover h2, .bloquepersonajes:hover a { display:block; }
.bloquepersonajes:hover img {opacity: 0.5;}
.bloquepersonajes:hover h2 {opacity: 1;}

.boton{
	display: flex; 
	justify-content: center;
}
.boton a{
	border: solid black thin;
	margin: auto;
	background-color: #edeeee;
	color:black;
	text-decoration: none;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	border-radius: 5px;
	transition-duration:1s;
	transition-property: background-color, color, padding;
	transition-delay: 0s, 0s, 0s;
}
.boton a:hover {
	background-color: black;
	color: white;
	padding: 10px 180px;
	text-decoration: none;
}


.titulo h1{
	width: 100%;
	margin-top: 200px;
	text-align: center;
	color: black;
	background-color: #edeeee;
}
.col-3  {
	/*padding-top: 10px;*/
	/*margin-bottom: 10px;*/
}
.col-8 {
	padding-top: 10px;
	margin-bottom: 10px;
	background-color: #e7e7e7;

}
.col-8 p{
	padding-top: 10px;
	color: black;
	font-size: 17px;
	height: 200px;
}

.botones {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.botones a {
	background-color: black;
	text-decoration: none;
	color: white;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
	transition-duration:0.5s;
	transition-property: background-color, color, padding;
	transition-delay: 0s, 0s, 0s;
}

.botones a:hover{
	border: solid black thin;
	background-color: #edeeee;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 15px 500px 15px 500px;

}
.ultimo {
	margin-top: 100px;
}
.wrapper{
	background-image: url(img/back.jpg);
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}
.wrapper2{
	background-image: url(img/back.jpg);
	background-attachment: fixed;
}
.wrapper3{
	background-image: url(img/back.jpg);
	background-attachment: fixed;
}
.wrapper4{
	background-image: url(img/back.jpg);
	background-attachment: fixed;
}

.temporadas p{
	color: black;
	font-family: arcon; 
}

.tabla {
	display: flex; 
	justify-content: center;
}
.tabla2 {

	display: flex; 
	justify-content: center;
}



.temporal {
	display: flex;
	justify-content: center;
	margin-top: 180px;
}
.seleccionado{
	background-color: #edeeee;
}
.seleccionado button {
	color: black;
	font-weight: bold;
}
.contenedor-boton {
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
/* ---- NO SE COMO MODIFICAR EL CSS DE ESTE BOTON ---- */


.cronologia {
	display: flex;
}

.cronologia p{
	text-align: center;
	margin-top: 30px;
	font-family: arcon;
	font-weight: thin;

}

.col-8 {
	height:200px;
	
}

.sucesouno{
	color: black;
	font-family: arcon;
	font-weight: thin;
}
.sucesouno h4 {
	background-color: #edeeee;
}
.sucesouno h5 {
	font-weight: bold;
}
.sucesodos{
	color: black;
	font-family: arcon;
	font-weight: thin;
}
.sucesodos h4 {
	background-color: #edeeee;
}
.sucesodos h5 {
	font-weight: bold;
}
.sucesotres{
	color: black;
	font-family: arcon;
	font-weight: thin;
}
.sucesotres h4 {
	background-color: #edeeee;
}
.sucesotres h5 {
	font-weight: bold;
}

.sucesocuatro{
	color: black;
	font-family: arcon;
	font-weight: thin;
}
.sucesocuatro h4 {
	background-color: #edeeee;
}
.sucesocuatro h5 {
	font-weight: bold;
}

.sucesocinco{
	color: black;
	font-family: arcon;
	font-weight: thin;
}
.sucesocinco h4 {
	background-color: #edeeee;
}
.sucesocinco h5 {
	font-weight: bold;
}
#maspersonajes {
	text-align: left;
}

.videos {
	display: flex;
	justify-content: center;
}
.videos2 {
	display: flex;
	justify-content: center;
}

.experiencia {
	justify-content: center;
}
.experiencia p{
	text-align: center;
	color: black;
	font-family: arcon;
	font-size: 20px;
}

.experiencia img {
	margin-left: 40%;
}

.fase {
	color: black;
	font-family: arcon;
	font-weight: thin;
	margin-top: 25px;
}
.fase h4 {
	text-align: center;
	background-color: #edeeee;
}
.fase p {
	font-size: 18px;
}
.fase img {
	margin-left: 25%;
}
#maspersonajes2 {
	text-align: left;
}
.srilanka {
	text-align: center;
}
.full img {
	margin-left: 15%;
}

.formulario{
	display: flex;
	justify-content: center;
	padding-top: 170px;
	padding-bottom: 30px;
	font-family: arcon;
	font-size: 20px;
}

.col-5, .col-3 , .col-4, .col-12{
	background-color: #edeeee;
}
section{
	background-color: #edeeee;
}

.enviar input {
	margin-top: 10px;
	text-align: center;
	background-color: black;
	text-decoration: none;
	color: white;
	padding: 10px;
	border-radius: 5px;
	transition-duration:0.5s;
	transition-property: background-color, color, padding;
	transition-delay: 0s, 0s, 0s;
}
.enviar input:hover{
	border: solid black thin;
	background-color: #edeeee;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 10px 100px 10px 100px;

}

.form-enviado {

	background-color: black;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-bottom: 120px;
	margin-top: 150px;

}
.form-enviado h1 {
	text-align: center;
	color: #edeeee;
	font-family: arcon;
	font-size: 40px;
}

.form-enviado h2 {
	text-align: center;
	color: #edeeee;
	font-family: arcon;
	font-size: 30px;
}

